.content {
  font-family: 'Arial', no-serif;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
}
.wrap-box {
  display: table-cell;
  vertical-align: middle;
}
.wrap-box h1 {
  color: #000;
  font-weight: 900;
  padding: 10px;
  display: inline-block;
  background-color: #bd7777;
}
